<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>会员中心</title>
    <link href="__PUBLIC__/Home/css/myhome.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div id="entry">
        <div class="left">
            <a href="#"><img src="__PUBLIC__/Home/images/01_03.png"/></a>
            <a href="#"><img class="revise" src="__PUBLIC__/Home/images/08.png"/></a>
        </div>
        <div class="right">
            <div style=" font-size:42px; color:#fff;margin-right: 15px;">欢迎使用挖配宝</div>
            <div class="point">
                <img src="__PUBLIC__/Home/images/03.png"/>
                <img src="__PUBLIC__/Home/images/05.png"/>
            </div>
        </div>
    </div>
</header>
<div class="shopping_trolley" style="height:150px; width:100%; margin-top:30px; overflow-y:hidden;">
    <ul>
        <li><a href="#"><div class="img1"><img src="__PUBLIC__/Home/images/14.png"/></div><div>购物车</div></a></li>
        <li><a href="#"><div class="img1"><img src="__PUBLIC__/Home/images/17.png"/></div><div>收藏</div></a></li>
        <li><a href="#"><div class="img1"><img src="__PUBLIC__/Home/images/19.png"/></div><div>足迹</div></a></li>
        <li><a href="#"><div class="img1"><img src="__PUBLIC__/Home/images/21.png"/></div><div>优惠券</div></a></li>
    </ul>
</div>
<hr style="height:25px; width:100%; background:#efefef; border:none;"/>
<div class="order">
    <a href="#"><div style="margin-left:5%; font-size:40px; float:left;">我的订单</div></a>
    <a href="#"><div style=" position:absolute; right:5%;font-size:40px; color:#a7a7a7;">全部订单<img src="__PUBLIC__/Home/images/897767597487057876.png"/></div></a>
</div>
<div class="shopping_trolley" style="height:150px; width:100%; margin-top:30px; overflow-y:hidden;">
    <ul>
        <li><a href="#"><div class="img1"><img src="__PUBLIC__/Home/images/28.png"/></div><div>待付款</div></a></li>
        <li><a href="#"><div class="img1"><img src="__PUBLIC__/Home/images/31.png"/></div><div>待收藏</div></a></li>
        <li><a href="#"><div class="img1"><img src="__PUBLIC__/Home/images/33.png"/></div><div>待安装</div></a></li>
        <li><a href="#"><div class="img1"><img src="__PUBLIC__/Home/images/35.png"/></div><div>待评价</div></a></li>
    </ul>
</div>
<hr style="height:25px; width:100%; background:#efefef; border:none;"/>
<div class="classify">
    <ul>
        <li>
            <div class="img2"><img src="__PUBLIC__/Home/images/42.png"/></div>
            <div>推荐有礼</div>
            <div class="ticket">无门槛券</div>
        </li>
        <li>
            <div class="img2"><img src="__PUBLIC__/Home/images/45.png"/></div>
            <div>积分中心</div>
            <div class="ticket2">积分兑换好礼</div>
        </li>
        <li>
            <div class="img2"><img src="__PUBLIC__/Home/images/47.png"/></div>
            <div>兑换专区</div>
            <div class="ticket2">优惠券兑换</div>
        </li>
        <li>
            <div class="img2"><img src="__PUBLIC__/Home/images/50.png"/></div>
            <div>爱车档案</div>
            <div class="ticket2">车辆信息</div>
        </li>
        <li>
            <div class="img2"><img src="__PUBLIC__/Home/images/57.png"/></div>
            <div>我的会员</div>
            <div class="ticket2">会员尽享优惠</div>
        </li>
        <li>
            <div class="img2"><img src="__PUBLIC__/Home/images/59.png"/></div>
            <div>客服帮助</div>
            <div class="ticket2">在线帮助</div>
        </li>
        <li>
            <div class="img2"><img src="__PUBLIC__/Home/images/64.png"/></div>
            <div>意见反馈</div>
            <div class="ticket2">给我们建议</div>
        </li>
        <li>
            <div class="img2"><img src="__PUBLIC__/Home/images/61.png"/></div>
            <div>关于我们</div>
            <div class="ticket2"></div>
        </li>
    </ul>
</div>
<include file="Public/footer" />
</body>
</html>
