<footer>
    <ul>
        <li style="margin-left:16%;"><a href="/"><img src="__PUBLIC__/Home/images/2_87.png"/><div style="position:relative; bottom:10px;">首页</div></a></li>
        <li><a href="__MODULE__/CateList/index"><img src="__PUBLIC__/Home/images/2_93.png"/><div style=" position:relative; left:15px;">分类</div></a></li>
        <li><a href="__MODULE__/UserCenter/index"><img src="__PUBLIC__/Home/images/2_90.png"/><div style=" position:absolute; margin-left:32px; bottom:0px;">我的</div></a></li>
    </ul>
</footer>