<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品搜索</title>
    <link href="__PUBLIC__/Home/css/search.css"  rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <a href="javascript:window.history.go(-1);"><div class="back"><img src="__PUBLIC__/Home/images/2149945922266881.png"/></div></a>
    <a href="#"><div class="entry"><input name="keywords" type="text" placeholder="发动机"></div></a>
    <a href="#"><div class="register">搜索</div></a>
</header>
<div style="font-size:50px; margin:10px 0 0 5%; color:#999; margin-bottom:20px;">热门搜索</div>
<ul id="search">
    <li>刹车片</li>
    <li>液压油</li>
    <li>破碎锤</li>
    <li>机械臂</li>
    <li>直管</li>
    <li>刹车片</li>
    <li>液压油</li>
    <li>破碎锤</li>
    <li>机械臂</li>
    <li>直管</li>
</ul>
<hr style=" height:20px; background:#e52f2e; margin-top:50px; "/>
<div style="font-size:50px; margin:10px 0 0 5%; color:#999; margin-bottom:20px;">历史记录</div>
<ul id="record">
    <li>挖掘机1236558498645456165156163151</li>
    <li>挖掘机1236558498645456165156163151</li>
    <li>挖掘机1236558498645456165156163151</li>
</ul>
</body>
</html>
