<extend name="Public/base" />
<block name="title"><title>修改积分商品-积分商品管理</title></block>
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/Admin/js/fuelux/fuelux.css" type="text/css" cache="false" />
    <!--kindeditor-->
    <script charset="utf-8" src="__PLUGINS__/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="__PLUGINS__/kindeditor/lang/zh_CN.js"></script>
    <!-- jQuery -->
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <!-- jQuery.form.js -->
    <script src="__PUBLIC__/Admin/js/jquery.form.js"></script>

    <section id="content">
        <section class="vbox">
            <section class="scrollable padder">
                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                    <li><a href="__MODULE__/Index/index.html"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="__CONTROLLER__/index">积分商品列表</a></li>
                    <li><a href="__CONTROLLER__/add">添加积分商品</a></li>
                    <li><a href="__CONTROLLER__/edit/id/{$oneGoods.id}">修改积分商品</a></li>
                </ul>
                <div class="m-b-md">
                    <h3 class="m-b-none">修改积分商品</h3>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel panel-default">
                            <header class="panel-heading font-bold">修改积分商品</header>
                            <div class="panel-body">
                                <form class="bs-example form-horizontal" id="ajaxForm" action="__CONTROLLER__/edit">
                                    <input type="hidden" name="id" value="{$oneGoods.id}" />
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">商品名称</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" name="title" placeholder="Title" value="{$oneGoods.title}">
                                            <span class="help-block m-b-none">商品名称不能小于2位.</span>
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">商品标签</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" name="tags" placeholder="Tags" value="{$oneGoods.tags}">
                                            <span class="help-block m-b-none">多个标签以逗号隔开.</span>
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">商品分类</label>
                                        <div class="col-lg-4">
                                            <select name="cateid" id="cateid" class="form-control m-b">
                                                <option value="0">---请选择关联分类---</option>
                                                <volist name="catelist" id="vo">
                                                    <optgroup label="{$vo.name}">{$vo.name}</optgroup>
                                                    <volist name="vo['child']" id="voo">
                                                        <option value="{$voo.id}" <if condition="$oneGoods['cateid'] eq $voo['id']">selected="selected"</if>>{$voo.name}</option>
                                                    </volist>
                                                </volist>
                                            </select>
                                        </div>
                                        <div class="col-lg-6"></div>
                                    </div>
                                    <div id="brand"><input type="hidden" name="brand" value="{$oneGoods.brand}" /></div>
                                    <div id="attr"><input type="hidden" name="attrstr" value='{$oneGoods.attrstr}' /></div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">所需积分</label>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" name="credit" placeholder="Credit" value="{$oneGoods.credit}">
                                        </div>
                                        <div class="col-lg-6"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">商品库存</label>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" name="inventory" placeholder="Inventory" value="{$oneGoods.inventory}">
                                        </div>
                                        <div class="col-lg-6"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">商品图片</label>
                                        <input type="hidden" name="mainpic" id="mainpic" value="{$oneGoods.mainpic}"/>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="thumbpic" id="thumbpic" value="{$oneGoods.thumbpic}"/>
                                            <span class="help-block m-b-none">商品主图需大于600x600,且单张最大不超过2M,最多上传6张.</span>
                                        </div>
                                        <div class="col-sm-6"><a href="javascript:;" onclick="openUp();" class="btn btn-s-md btn-default">上传图片</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-10" id="thumb"><volist name="oneGoods['thumb']" id="vo"><a class="delpic" onclick="delPic(this);"><img class="img-responsive thumb m-r-xs" src="{$vo}" alt="缩略图" /><i class="fa fa-times text-danger text"></i></a></volist></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">商品描述</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="descript" rows="5" data-minwords="6" data-required="true" placeholder="Type the descript">{$oneGoods.descript}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">商品详情</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="content" id="editor">{$oneGoods.content}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">是否包邮</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <!-- radio -->
                                                    <div class="radio-inline pad-lf-none">
                                                        <label class="radio-custom margin-lf-none">
                                                            <input type="radio" name="isfreight" value="1" <if condition="$oneGoods['isfreight'] eq 1">checked="checked"</if>>
                                                            <i class="fa fa-circle-o"></i> 是 </label>
                                                    </div>
                                                    <div class="radio-inline pad-lf-none">
                                                        <label class="radio-custom margin-lf-none">
                                                            <input type="radio" name="isfreight" value="0" <if condition="$oneGoods['isfreight'] eq 0">checked="checked"</if>>
                                                            <i class="fa fa-circle-o"></i> 否 </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">是否推荐</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <!-- radio -->
                                                    <div class="radio-inline pad-lf-none">
                                                        <label class="radio-custom margin-lf-none">
                                                            <input type="radio" name="isrec" value="1" <if condition="$oneGoods['isrec'] eq 1">checked="checked"</if>>
                                                            <i class="fa fa-circle-o"></i> 是 </label>
                                                    </div>
                                                    <div class="radio-inline pad-lf-none">
                                                        <label class="radio-custom margin-lf-none">
                                                            <input type="radio" name="isrec" value="0" <if condition="$oneGoods['isrec'] eq 0">checked="checked"</if>>
                                                            <i class="fa fa-circle-o"></i> 否 </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button type="submit" class="btn btn-sm btn-default">修改积分商品</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <script type="text/javascript">
        KindEditor.ready(function(K){
            var opts={
                uploadJson : '__PLUGINS__/kindeditor/php/upload_json.php',
                fileManagerJson : '__PLUGINS__/kindeditor/php/file_manager_json.php',
                allowFileManager : true,
                height : 'auto',
                minHeight: '240',
                width : '100%',
                afterBlur:function(){this.sync();}
            };
            var editor = K.create('textarea[name="content"]', opts);
        });
    </script>
    <!-- fuelux -->
    <script src="__PUBLIC__/Admin/js/fuelux/fuelux.js" cache="false"></script>
    <!-- Bootstrap -->
    <script src="__PUBLIC__/Admin/js/file-input/bootstrap-filestyle.min.js" cache="false"></script>
    <script src="__PUBLIC__/Admin/js/creditgoods/index.js"></script>
    <script src="__PUBLIC__/Admin/js/creditgoods/info.js"></script>
    <script type="text/javascript">
        $(function(){
            var cateid=$('#cateid').val();
            var brand=$('#brand >input').val();
            var attrstr=$('#attr >input').val();
            getCurBrand(cateid,brand);
            getCurAttr(cateid,attrstr);
        });
    </script>
</block>

