<extend name="Public/base" />
<block name="title"><title>修改配件-配件管理</title></block>
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/Admin/js/fuelux/fuelux.css" type="text/css" cache="false" />
    <!-- jQuery -->
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <!-- jQuery.form.js -->
    <script src="__PUBLIC__/Admin/js/jquery.form.js"></script>

    <section id="content">
        <section class="vbox">
            <section class="scrollable padder">
                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                    <li><a href="__MODULE__/Index/index.html"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="__CONTROLLER__/index">配件列表</a></li>
                    <li><a href="__CONTROLLER__/add">新增配件</a></li>
                    <li><a href="__CONTROLLER__/edit/id/{$oneAcces.id}">修改配件</a></li>
                </ul>
                <div class="m-b-md">
                    <h3 class="m-b-none">修改配件</h3>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel panel-default">
                            <header class="panel-heading font-bold">修改配件</header>
                            <div class="panel-body">
                                <form class="bs-example form-horizontal" id="ajaxForm" action="__CONTROLLER__/edit">
                                    <input type="hidden" name="id" value="{$oneAcces.id}" />
                                    <input type="hidden" id="brand" value="{$oneAcces.brand}" />
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">配件型号</label>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" name="accesno" placeholder="Accesno" value="{$oneAcces.accesno}">
                                            <span class="help-block m-b-none">配件型号不能小于2位.</span>
                                        </div>
                                        <div class="col-lg-6"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">配件分类</label>
                                        <div class="col-lg-4">
                                            <select name="cateid" id="cateid" class="form-control m-b">
                                                <option value="0">请选择配件分类</option>
                                                <volist name="catelist" id="vo">
                                                    <option value="{$vo.id}" <if condition="$vo['id'] eq $oneAcces['cateid']">selected="selected"</if>>{$vo.name}</option>
                                                    <volist name="vo['child']" id="voo">
                                                        <option value="{$voo.id}" <if condition="$voo['id'] eq $oneAcces['cateid']">selected="selected"</if>>{$voo.name}</option>
                                                    </volist>
                                                </volist>
                                            </select>
                                        </div>
                                        <div class="col-lg-6"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">相关品牌</label>
                                        <div class="col-lg-4">
                                            <select name="brand" id="brandid" class="form-control m-b">
                                                <option value="0">选择相关品牌</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">配件图片</label>
                                        <div class="col-sm-10">
                                            <input type="file" name="pic" class="filestyle" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline input-s">
                                            <a href="#" class="thumb-sm"><img src="{$oneAcces.thumbpic}" class="img-rounded"></a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">关联机型</label>
                                        <div class="col-sm-10">
                                            <volist name="machinelist" id="vo">
                                                <label class="checkbox pad-top top-cate">{$vo.name}</label>
                                                <volist name="vo['child']" id="voo">
                                                    <label class="checkbox-inline sub-cate">
                                                        <input type="checkbox" name="ids[]" value="{$voo.id}" <in name="voo['id']" value="$oneAcces['machids']">checked="checked"</in>> {$voo.machineno} </label>
                                                </volist>
                                            </volist>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button type="submit" class="btn btn-sm btn-default">修改配件</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- fuelux -->
    <script src="__PUBLIC__/Admin/js/fuelux/fuelux.js" cache="false"></script>
    <!-- Bootstrap -->
    <script src="__PUBLIC__/Admin/js/file-input/bootstrap-filestyle.min.js" cache="false"></script>
    <script src="__PUBLIC__/Admin/js/accessory/index.js"></script>
    <script type="text/javascript">
        $(function(){
            var cateid=$('#cateid').val();
            var brand=$('#brand').val();
            getCurBrand(cateid,brand);
        });
    </script>
</block>