<extend name="Public/base" />
<block name="title"><title>添加文章类型-文章类型管理</title></block>
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/Admin/js/fuelux/fuelux.css" type="text/css" cache="false" />
    <!-- jQuery -->
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <!-- jQuery.form.js -->
    <script src="__PUBLIC__/Admin/js/jquery.form.js"></script>

    <section id="content">
        <section class="vbox">
            <section class="scrollable padder">
                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                    <li><a href="__MODULE__/Index/index.html"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="__CONTROLLER__/index">文章类型列表</a></li>
                    <li><a href="__CONTROLLER__/add">添加文章类型</a></li>
                </ul>
                <div class="m-b-md">
                    <h3 class="m-b-none">添加文章类型</h3>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <section class="panel panel-default">
                            <header class="panel-heading font-bold">添加文章类型</header>
                            <div class="panel-body">
                                <form class="bs-example form-horizontal" id="ajaxForm" action="__CONTROLLER__/add">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">类型名称</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="name" placeholder="Name">
                                            <span class="help-block m-b-none">类型名称不能小于2位.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">类型描述</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="summary" rows="5" data-minwords="6" data-required="true" placeholder="Type the summary"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">是否使用</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <!-- radio -->
                                                    <div class="radio-inline pad-lf-none">
                                                        <label class="radio-custom margin-lf-none">
                                                            <input type="radio" name="status" value="1" checked="checked">
                                                            <i class="fa fa-circle-o"></i> 是 </label>
                                                    </div>
                                                    <div class="radio-inline pad-lf-none">
                                                        <label class="radio-custom margin-lf-none">
                                                            <input type="radio" name="status" value="0">
                                                            <i class="fa fa-circle-o"></i> 否 </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button type="submit" class="btn btn-sm btn-default">添加文章类型</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- fuelux -->
    <script src="__PUBLIC__/Admin/js/fuelux/fuelux.js" cache="false"></script>
    <!-- Bootstrap -->
    <script src="__PUBLIC__/Admin/js/file-input/bootstrap-filestyle.min.js" cache="false"></script>
    <script src="__PUBLIC__/Admin/js/type/index.js"></script>
</block>

